<style>
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
}
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
             <div class="center">
                <h2>Results Compare</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_title">
                <h2>Test Run Information</h2>
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td>Load Test Name</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Warm-up Duration</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Controller</td>
                            <td>Value</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Number of Agents</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Run Settings Used</td>
                            <td></td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="x_title">
                <h2>Overall Results</h2>
                <div class="clearfix"></div>
                <div class="x_content">
                        <table class="table table-bordered">
                            <tr>
                                <td>Max User Load</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tests/Sec</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Tests Failed</td>
                                <td></td>
                            </tr>
                             <tr>
                                <td>Avg. Test Time (sec)</td>
                                <td></td>
                            </tr>
                             <tr>
                                <td>Transactions/Sec</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Avg. Transaction Time (sec)</td>
                                <td></td>
                            </tr>
                            
                             <tr>
                                <td>Pages/Sec</td>
                                <td></td>
                            </tr>
                             <tr>
                                <td>Avg. Page Time (sec)</td>
                                <td></td>
                            </tr>
                             <tr>
                                <td>Requests/Sec</td>
                                <td></td>
                            </tr>
                             <tr>
                                <td>Requests Failed</td>
                                <td></td>
                            </tr>
                             <tr>
                                <td>Avg. Response Time (sec)</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
            </div>
            <div class="x_title">
                <h2>Test Results</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_title">
                <h2>Page Results</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_title">
                <h2>Errors</h2>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>
